alabaster==0.7.12
Babel==2.9.1
backcall==0.2.0
certifi==2023.7.22
charset-normalizer==2.0.6
decorator==5.1.0
docutils==0.17.1
idna==3.2
imagesize==1.2.0
ipython==7.31.1
jedi==0.18.0
Jinja2==3.0.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
packaging==21.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.20
ptyprocess==0.7.0
Pygments==2.15.0
pyparsing==2.4.7
pytz==2021.1
pyzmq==22.3.0
requests==2.31.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-autodoc-typehints==1.12.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tornado==6.3.3
traitlets==5.1.0
urllib3==1.26.17
wcwidth==0.2.5
